{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-dark text-white">

                    <h3>Add New Admin</h3>

                </div>

                <div class="card-body">

                    <form method="POST">

                        <div class="mb-3">
                            <label>Name</label>
                            <input
                                type="text"
                                name="name"
                                class="form-control"
                                required>
                        </div>

                        <div class="mb-3">
                            <label>Username</label>
                            <input
                                type="text"
                                name="username"
                                class="form-control"
                                required>
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            <input
                                type="email"
                                name="email"
                                class="form-control"
                                required>
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            <input
                                type="password"
                                name="password"
                                class="form-control"
                                required>
                        </div>

                        <div class="mb-3">
                            <label>Role</label>

                           <select name="role" class="form-control" required>

    <option value="">Select Role</option>

    <option value="Admin">
        Admin
    </option>

    <option value="Super Admin">
        Super Admin
    </option>

</select>

                        </div>

                        <button
                            class="btn btn-dark">
                            Add Admin
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}