{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-lg">

            <div class="card-header bg-primary text-white text-center">
                <h3>Student Login</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Email Address
                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter your email"
                            required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter your password"
                            required>

                    </div>

                    <div class="d-grid">

                        <button
                            type="submit"
                            class="btn btn-primary btn-lg">

                            Login

                        </button>

                    </div>

                </form>

            </div>

            <div class="card-footer text-center">

                Don't have an account?

                <a href="/register">
                    Register Here
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}