{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">

            <h3>
                Password Reset Requests
            </h3>

        </div>


        <div class="card-body">


            {% if admins %}

            <table class="table table-bordered table-hover">


                <thead class="table-dark">

                    <tr>

                        <th>Name</th>

                        <th>Username</th>

                        <th>Email</th>

                        <th>Action</th>

                    </tr>

                </thead>


                <tbody>


                {% for admin in admins %}


                    <tr>


                        <td>
                            {{ admin["name"] }}
                        </td>


                        <td>
                            {{ admin["username"] }}
                        </td>


                        <td>
                            {{ admin["email"] }}
                        </td>


                        <td>

                            <a href="/reset_admin_password/{{ admin['admin_id'] }}"
                               class="btn btn-warning">

                                Reset Password

                            </a>

                        </td>


                    </tr>


                {% endfor %}


                </tbody>


            </table>


            {% else %}

                <h5 class="text-center">
                    No password reset requests.
                </h5>


            {% endif %}


        </div>


    </div>


</div>


{% endblock %}